<div class="container_12">
  <div class="row-fluid">
    
    <div class="span4">
      
      <ol class="profile_tab nav.nav-tabs" id="button-nav">
    

        ss
     </ol>
    
    </div>
    
    <div class="span8">
     <div  style="border: solid 1px #ccc;">
        <%= yield %>
     </div>
    </div>

</div>
</div>
