

<br><br><br><br><div class="container">
  <div class="row-fluid">
    <div class="span4">
    	
    	<ol class="profile_tab nav.nav-tabs" id="button-nav">
    

       	<li class="btn btn-info active"><a href=<%=new_information_path%>>Basic Info</li>
      	<li class="btn btn-info">Add User Education</li>
      	<li class="btn btn-info">Add User Company</li>
      	<li class="btn btn-info">Add User Projects</li>
      	<li class="btn btn-info">Export To PDF</li>
      	<li class="btn btn-info">Feedback</li>
      	<li class="btn btn-info">More PDF Template</li>
      	<li class="btn btn-info">User Defined template</li>
     </ol>
    
    </div>
    
    <div class="span8">
      <h1>hello</h1>
    </div>

</div>
</div>

